Repository daverona/docker-cromwell: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, release, publish

build:
  stage: build
  image: docker:19.03.8
  services:
  - docker:19.03.8-dind
  script:
  - docker login --username gitlab-ci-token --password $CI_JOB_TOKEN $CI_REGISTRY
  - docker image pull $CI_REGISTRY_IMAGE:master || true
  ...

release:
  stage: release
  dependencies:
  - build
  image: docker:19.03.8
  services:
  - docker:19.03.8-dind
  variables:
    GIT_STRATEGY: none
  script:
  - docker login --username gitlab-ci-token --password $CI_JOB_TOKEN $CI_REGISTRY
  - docker image pull $CI_REGISTRY_IMAGE:master
  ...

publish:
  stage: publish
  image: docker:19.03.8
  services:
  - docker:19.03.8-dind
  script:
  ...

housekeeping
  Dockerfile
  docker-entrypoint.sh
Due: build, release

housekeeping
  Dockerfile
  README.md
  docker-entrypoint.sh
Due: build, release, publish

housekeeping
  Dockerfile
Due: build, release

housekeeping
  README.md
Due: publish

housekeeping
  .gitlab-ci.yml
  README.md
Due: publish

Add new file
  docker-entrypoint.sh.back
Due: none

Update docker-entrypoint.sh.back
  docker-entrypoint.sh.back
Due: none

housekeeping
  docker-entrypoint.sh.back
Due: none

housekeeping
  Dockerfile
  docker-entrypoint.sh
  docker-entrypoint.sh.back
Due: build, release

Path conditions:
  build: any of: Dockerfile, docker-entrypoint.sh
  release: any of: Dockerfile, docker-entrypoint.sh
  publish: any of: README.md
